.ikki{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./Rectangle\ 18.png);
    height: 100vh;
}
input{
    width: 360px;
    height: 50px;

}
textarea{
    width: 75%;
    height: 60px;
}

.form{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    background-color: rgb(78, 78, 78);
   
}